.about_page_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.about_text_wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.about_title {
    margin: 0 auto;
}

.logo {
    width: 500px;
    height: 183px;
}

#about {
    background: black;
}

#about_link {
    background: black;
    color: #146CCE;
}



