.ccell_page_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ccell_text_wrapper {
    width: 50%;
}

#ccell_tab {
    background: black;
}

#ccell_link {
    background: black;
    color: #146CCE;
}
