.ccell_page_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.ccell_text_wrapper {
    width: 50%;
}

#ccell {
    background: black;
}

#ccell_link {
    background: black;
    color: rgb(58, 156, 234);
}
