.contact_page_wrapper {
    display: flex;
    justify-content: space-around;
    /* align-items: stretch; */
    background: black;
    padding: 5em 1em;
    max-height: 90%;
    /* margin-top: -2em; */
    width: 80%;
    margin: 0 auto 3em auto;
}

.contact_info_wrapper {
    width: 55%;
    background: white;
    border-radius: 5px;
    padding: 1em;
}

.title_wrapper {
    padding: .5em;
    padding-left: 1em;
    /* margin: .5em; */
    color: white;
}

.title_wrapper>span {
    margin-right: .5em;
}

.form_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
}

form {
    /* height: 40%; */
    margin-top: -3em;
}

input {
    border-radius: 5px;
    padding: .5em;
    margin: .5em;
}

#message {
    height: 12em;
    border-radius: 5px;
    padding: .5em;
    margin: .5em;

}

.contact_text_wrapper {
    display: flex;
    /* flex-direction: column; */
    align-items: stretch;
    /* width: 50%; */
}

button {
    width: 10em;
    border-radius: 5px;
    padding: .5em;
    margin: 1em;
    margin-top: .5em;
}

.contact_title {
    margin: 0 auto;
}

.name_email_wrapper {
    display: flex;
    justify-content: stretch;
}

.name_email {
}

#contact {
    background: black;
}

#contact_link {
    background: black;
    color: #146CCE;
}
