body {
    background: url("../photos/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-position: 0 1em; */
  /* max-height: '100%'; */
  /* background-attachment: ; */
  width: 100%;
  min-height: 100%;
}

/* #### NAV BAR STYLES #### 
 * START
 * */

.custom_nav {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_links {
    font-size: 130%;
    width: 10em;
    font-family: 'Krona One', sans-serif;
}

.nav>li>a {
    padding: 10px 10px;
}

.nav_logo {
    color: black;
}

/* .logo_image { */
/*     background: url('../new_images/3Win-Black.png') no-repeat; */ 
/*   /1* -webkit-background-size: cover; *1/ */
/*   /1* -moz-background-size: cover; *1/ */
/*   /1* -o-background-size: cover; *1/ */
/*   background-size: cover; */
/*     /1* background-size: 100%; *1/ */
/*     /1* width: 10em; *1/ */

/* } */

#logo_image_blue {
    max-width: 10em;
}

/* .logo_image_black { */
/*     max-width: 10em; */
/* }; */

/* # OVER WRITING BOOTSTRAP STYLES # */
.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-nav>li:hover {
    background-color: black;
}

.navbar-nav>li:hover a {
    color: rgb(58, 156, 234);
}
.navbar-default .navbar-nav>li>a:hover {
    /* background-color: black; */
    /* color: #146CCE; */
    color: rgb(58, 156, 234);
}

.navbar-nav>li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    border-bottom: .5em solid black;
}

/* #### NAV BAR STYLES #### 
 * END
 * */

.main_content_wrapper {
    margin: 0 auto;
    margin-top: 10em;
    width: 100%;
    /* border: 3px solid pink; */
}

.logo_image {
    display: none;
}

.nav_logo {
    background: url('../new_images/3Win-Black.png') no-repeat; 
    background-size: contain;
    background-position: center;
    background-size: 90% 90%;
    width: 12em;
    /* height: 100%; */
}
.nav_logo:hover {
    background: url('../new_images/3Win-Blue.png') no-repeat; 
    /* background-size: contain; */
    background-size: 90% 90%;
    background-position: center;
    /* height: 100%; */
}

#display_none {
    height: 100%;
    width: 100%;
}
