body {
    background: url("../photos/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 2em;
  max-height: '100%';
}

/* #### NAV BAR STYLES #### 
 * START
 * */

.custom_nav {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_links {
    font-size: 150%;
    width: 8em;
    font-family: serif;
    font-weight: bold;
}

.nav_logo {
    color: black;
    margin: 0 atuo;
}

/* # OVER WRITING BOOTSTRAP STYLES # */
.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-nav>li:hover {
    background-color: black;
}

.navbar-nav>li:hover a {
    color: #146CCE;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color: black;
    color: #146CCE;
}

.navbar-nav>li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    border-bottom: .5em solid black;
}

/* #### NAV BAR STYLES #### 
 * END
 * */

.main_content_wrapper {
    margin: 0 auto;
    margin-top: 10em;
    width: 100%;
    /* border: 3px solid pink; */
}
